* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --dark: #27282D;
    --red: #dd2c3b;
    --darkRed: #9e212c;
    --white: #f8f8f8;
}

body {
    background-color: var(--dark);
    font-size: 16px;
}

.form-container {
    padding: 10px;
}

.generic {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
    border-radius: 2px;
    border: 0;
    font-size: 1rem;
    padding: 20px;
}

.title,
.button {
    color: var(--white);
    text-align: center;
}

.title {
    padding: 40px 0 20px 0;
    font-size: 1.5rem;
}

.name,
.email,
.phone {
    height: 30px;
}

.message {
    resize: vertical;
    height: 120px;
}

.button {
    cursor: pointer;
    background-color: var(--red);
    height: 60px;
    font-size: 1.1rem;
    color: var(--white);
    font-weight: bold;
    transition: .5s;
}

.button:hover {
    transition: .5s;
    background-color: var(--darkRed);
}

.footer {
    color: var(--white);
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    transition: .2s;
    color: var(--white);
}

.footer a:hover {
    color: var(--red);
    transition: .2s;
}

.red-color {
    color: var(--red);
}

.line {
    padding: 1px;
    width: 100%;
    background-color: var(--red);
    position: absolute;
    bottom: 60px;
}