@mixin base-reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-spaced-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-spaced-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}