                @use 'mixin';
                /*                      */
                
                $white: #fff;
                $black:#131314;
                $gray:#757577;
                $dark-gray:#27282D;
                $light-gray:#acacac;
                $cyan:#1e90ff;
                $blue: #385898;
                $dark-blue:#2b406d;
                $red: #e04638;
                $dark-red: #bd4135;
                $sweet-red:#dd2c3b;
                /*                      */
                
                body {
                    @include mixin.flex-spaced-column;
                    background-color: $dark-gray;
                    font-family: 'Lato', sans-serif;
                    height: 100vh;
                    font-size: 16px;
                    padding: 20px;
                }
                /*                      */
                
                .contact {
                    @include mixin.flex-spaced-column;
                    background-color: $white;
                    border-radius: 5px;
                    max-width: 450px;
                    padding: 10px;
                    width: 100%;
                }
                
                .contact__title {
                    color: $dark-gray;
                    font-size: 1.5rem;
                    text-align: center;
                }
                
                .contact__form {
                    @include mixin.flex-spaced-column;
                    border: 0;
                    border-radius: 2px;
                    height: 400px;
                    max-width: 500px;
                    padding: 20px;
                    width: 100%;
                }
                
                .form__field-group {
                    @include mixin.flex-spaced-column;
                    gap: 10px;
                    width: 100%;
                    max-width: 280px;
                }
                
                .form__input {
                    border: 2px solid $dark-gray;
                    border-radius: 4px;
                    color: $dark-gray;
                    font-size: 0.9rem;
                    font-family: "Font Awesome 5 Free", 'Lato', sans-serif;
                    font-weight: 600;
                    outline: none;
                    transition: 0.5s;
                    padding: 15px 80px 15px 15px;
                    &:focus {
                        border: 2px solid $cyan;
                        box-shadow: 0 0 3px 0 $cyan;
                    }
                    &:focus::placeholder {
                        color: $cyan;
                    }
                }
                
                .form__sub-options {
                    @include mixin.flex-spaced-row;
                    width: 60%;
                }
                
                .form__label {
                    color: $gray;
                    cursor: pointer;
                    font-size: .8rem;
                    padding-left: 20px;
                    position: relative;
                    user-select: none;
                }
                
                .form__checkbox {
                    cursor: pointer;
                    height: 0;
                    opacity: 0;
                    position: absolute;
                    width: 0;
                }
                
                .form__checkmark::before {
                    content: "\f0c8";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 500;
                    left: 0;
                    position: absolute;
                    top: 2px;
                    transition: 0.5s;
                }
                
                .form__checkbox:checked~.form__checkmark::before {
                    content: "\f14a";
                }
                
                .form__label:hover>.form__checkbox~.form__checkmark::before {
                    color: dodgerblue;
                }
                
                .form__link {
                    color: $gray;
                    font-size: .8rem;
                    text-decoration: none;
                    transition: 0.5s;
                    border-bottom: 1px solid #00000000;
                    &:hover {
                        color: $cyan;
                        border-bottom: 1px solid $cyan;
                    }
                }
                
                .form__btn {
                    cursor: pointer;
                    color: $white;
                    border: 0;
                    border-radius: 4px;
                    font-size: 0.9rem;
                    width: 100%;
                    max-width: 280px;
                    padding: 20px;
                    transition: 0.5s;
                }
                
                .form__btn-group {
                    @include mixin.flex-spaced-column;
                    gap: 10px;
                    max-width: 450px;
                    width: 100%;
                }
                
                .form__btn--primary {
                    background-color: $dark-gray;
                    text-align: center;
                    &:hover {
                        background-color: $black;
                    }
                }
                
                .form__btn--secondary {
                    background-color: $blue;
                    &:hover {
                        background-color: $dark-blue;
                    }
                }
                
                .form__btn--tertiary {
                    background-color: $red;
                    &:hover {
                        background-color: $dark-red;
                    }
                }
                
                .form__hr-group {
                    @include mixin.flex-center-row;
                }
                
                .form__hr {
                    background-color: $light-gray;
                    padding: 1px 60px;
                }
                
                .form__txt {
                    color: $dark-gray;
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 0 20px;
                }
                
                .form__icon {
                    transform: scale(1.4);
                    padding-right: 5px;
                }
                
                .form__footer {
                    color: $gray;
                    font-size: .8rem;
                    padding-right: 5px;
                }
                
                .footer {
                    color: $white;
                    font-weight: bold;
                    padding: 20px;
                    width: 100%;
                }
                
                .footer__hr {
                    background-color: $sweet-red;
                    padding: 1px;
                    width: 100%;
                }
                
                .footer__icon {
                    color: $sweet-red;
                    padding: 0 2px;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                
                .footer__author {
                    padding-top: 10px;
                    position: relative;
                    text-align: right;
                    font-family: monospace;
                    font-weight: bold;
                    transition: 0.5s;
                }
                
                .footer__link {
                    color: $white;
                    text-decoration: none;
                    transition: 0.5s;
                    &:hover {
                        color: rgb(255, 187, 0);
                    }
                }
                
                @media only screen and (max-width: 667px) {
                    .contact {
                        max-width: 360px;
                        width: 100%;
                        transition: 0.5s;
                    }
                    .contact__form {
                        height: 400px;
                        transition: 0.5s;
                    }
                    .form__btn-group {
                        transform: scale(1);
                        transition: 0.5s;
                    }
                    .form__input,
                    .form__btn {
                        max-width: 200px;
                        width: 100%;
                        padding: 15px;
                    }
                    .form__btn {
                        max-width: 230px;
                    }
                    .footer__author {
                        text-align: center;
                        transition: 0.5s;
                    }
                }